	/* Imports
@import url("https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css");
*/

	/* Main Shit */
:root {
	--main-color: #0099ffff !important;
	--hover-color: #0066ffff !important;
	--background-blur: 0px !important;
	--background-brightness: 100% !important;
	--background-mentioned: #0099ff1a !important;
	--background-mentioned-hover: #0066ff1a !important;
	--sidebar-width: 300px;
	--rs-small-spacing: .5px;
	--rs-medium-spacing: 1px;
	--rs-large-spacing: 2px;
	--rs-medium-width: 4px;
	--rs-avatar-shape: 0%;
}

	/* Bigger Emoji */
.emoji {
	width: 2em;
	height: 2em;
}
/* Sidebar */ .activityEmoji_c91bad,
/* Profile */ .customStatus_afed89 .customStatusEmoji_afed89 {
	width: 25px;
	height: 25px;
}
/* Voice chat activity */ .hangStatusIcon_cdc675 {
	width: 16px;
	height: 16px;
}

	/* Squares */
/* Member list */ .wrapper_c51b4e foreignObject,
/* Server icons */ .wrapper_c5f96a foreignObject,
/* Profile banners */ .bannerSVGWrapper_b32cc2 foreignObject {
	mask: none;
}
/* Text chat */ .avatar_ec86aa,
/* Voice chat */ .avatar_cdc675,
/* Replies */ .replyAvatar_ec86aa,
/* Commands */ .executedCommandAvatar_ec86aa,
/* Notification icons */ .baseShapeRound_df8943,
/* Server icons */ .wrapperSimple_c5f96a,
/* Server icons in closed folders */ .iconInactive_f11207,
/* Folder background */ .expandedFolderBackground_bc7085 {
	border-radius: 0 !important;
}

	/* Blue Mention Sign */
.mentioned_d5deea:before {
	background: var(--main-color);
}

	/* Underline Labels in Channels, Member Lists and DMs */
/* Channel list */ .name_a08117 .overflow_c74e70,
/* Member list */ .membersGroup_cbd271 {
	color: var(--main-color);
	text-align: center;
	overflow: visible;
}
/* Channel list */ div.mainContent_a08117,
/* Member list */ .membersGroup_cbd271::after {
	border-bottom: 2px solid var(--main-color);
	padding-bottom: 5px;
	content: "";
	display: block;
}
/* Member list */ .membersGroup_cbd271 {
	margin-bottom: 10px;
}

	/* Custom Ping Badge */
/* Server icons */ .wrapper_c5f96a .numberBadge_df8943 {
	-webkit-text-stroke: 2.25px var(--main-color);
	font-size: 44px;
	min-height: 48px;
	min-width: 48px;
	letter-spacing: 0px;
	background-color: rgba(0,0,0,0.330719) !important;
}
/* Channel list */ .content_eed6a8 .numberBadge_df8943 {
	-webkit-text-stroke: 1.125px var(--main-color);
	font-size: 24px;
	min-height: 0px;
	min-width: 0px;
	letter-spacing: 0px;
	background-color: rgba(0,0,0,0) !important;
}

	/* Special Codeblocks */
/* Code blocks */ .codeContainer_d6076c code,
/* Text files */ .textContainer_ad9cbd code,
/* Text file modal */ .modalTextContainer_ad9cbd code {
	font-family: 'Courier New',Courier,monospace;
	font-size: 12px;
	line-height: 14px;
}

	/* Better Image Filter
img {
	image-rendering: pixelated;
} */

	/* Extended Channel Sidebar
.sidebar_ded4b5 {
	width: var(--sidebar-width);
} */
