	/* Imports
@import url("https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css");
	/* Main Shit */
:root {
	--main-color: #0099ffff !important;
	--hover-color: #0066ffff !important;
	--background-blur: 0px !important;
	--background-brightness: 100% !important;
	--background-mentioned: #0099ff1a !important;
	--background-mentioned-hover: #0066ff1a !important;
	--sidebar-width: 300px;
	--rs-small-spacing: 1px;
	--rs-medium-spacing: 2px;
	--rs-large-spacing: 2px;
	--rs-small-width: 2px;
	--rs-medium-width: 4px;
	--rs-large-width: 4px;
	--rs-avatar-shape: 0%;
}
	/* Bigger Emoji */
.emoji {
	width: 2em;
	height: 2em;
}
.activityEmoji-SDBJp8,
.activityEmoji-24oKjc {
	width: 25px;
	height: 25px;
}
	/* Squares */
.wrapper-2PSQCG foreignObject,
.wrapper-3Un6-K foreignObject {
	mask: none;
}
.avatar-2e8lTP,
.avatar-3FKimL,
.icon-3AqZ2e,
.iconInactive-26M06U,
.wrapperSimple-2SFl9K,
.replyAvatar-sHd2sU,
.baseShapeRound-3epLEv,
.expandedFolderBackground-1kSAf6,
.folderIconWrapper-1oRIZr,
.executedCommandAvatar-3oOnb1 {
	border-radius: 0 !important;
}
.expandedFolderBackground-1kSAf6 {
	left: 8px;
	bottom: 4px;
	width: 56px;
}
	/* Blue Mention Sign */
.essahe-2qnXI6 .mentioned-Tre-dv .selected-2P5D_Z,
.mouse-mode .mentioned-Tre-dv:hover {
	background: rgba(0,100,255,0.1)
}
.mentioned-Tre-dv:before {
	background-color: var(--main-color);
}
	/* Underline Labels in Channels, Member Lists and DMs */
.membersGroup-2eiWxl,
.iconVisibility-3pLDEs,
.name-3BUDLf .overflow-1wOqNV {
	color: var(--main-color);
	text-align: center;
	overflow: visible;
}
.membersGroup-2eiWxl,
.iconVisibility-3pLDEs {
	margin-bottom: 10px;
}
div.mainContent-uDGa6R,
.membersGroup-2eiWxl::after {
	border-bottom: 2px solid var(--main-color);
	padding-bottom: 5px;
	height: auto;
}
.membersGroup-2eiWxl::after {
	content: "";
	display: block;
}
	/* Custom Ping Badge */
.numberBadge-37OJ3S {
	-webkit-text-stroke: 2.25px var(--main-color);
	font-size: 44px;
	color: rgb(255,255,255);
	min-height: 48px;
	min-width: 48px;
	background-color: rgba(0,0,0,0.5) !important;
}
.base-PmTxvP {
	border-radius: 0px;
}
.lowerBadge-29hYVK,
.upperBadge-2XnnGB {
	pointer-events: none;
}
	/* Extended Channel Sidebar
.sidebar-1tnWFu {
	width: var(--sidebar-width);
}
.channel-1Shao0 {
	max-width: var(--sidebar-width);
} */
	/* Special Codeblocks */
code.scrollbarGhostHairline-2LpzZ9 {
	font-family: 'Courier New',Courier,monospace
}