	/* Imports */
@import url("https://cdn.jsdelivr.net/gh/DiscordStyles/RadialStatus/dist/RadialStatus.theme.min.css");
	/* Radial Status Options */
:root
{
	--rs-small-spacing: 1px;
	--rs-medium-spacing: 2px;
	--rs-large-spacing: 2px;
	--rs-small-width: 2px;
	--rs-medium-width: 4px;
	--rs-large-width: 4px;
	--rs-avatar-shape: 0%;
}
	/* Jumbo Emoji */
.emoji
{
	width: 35px;
	height: 35px;
}
.emoji.jumboable
{
	width: 48px;
	height: 48px;
	margin-top: 0;
}
.activityEmoji-SDBJp8,
.activityEmoji-24oKjc
{
	width: 25px;
	height: 25px;
}
	/* Squares */
.wrapper-3kah-n foreignObject,
.wrapper-28eC3z foreignObject,
.wrapper-1VLyxH foreignObject
{
	mask: none;
}
.avatar-2e8lTP,
.icon-3AqZ2e,
.wrapperSimple-Js2rIO,
.replyAvatar-sHd2sU,
.baseShapeRound-3epLEv
{
	border-radius: 0 !important;
}
	/* Blue Mention Sign */
.essahe-2qnXI6 .mentioned-Tre-dv .selected-2P5D_Z,
.mouse-mode .mentioned-Tre-dv:hover
{
	background: rgba(0, 100, 255, 0.1)
}
.mentioned-Tre-dv:before
{
	background-color: #0099ff;
}
	/* Underline Roles in Member List & DMs */
.membersGroup-2eiWxl
{
	text-align: center;
	overflow: visible;
	margin-bottom: 10px;
}
.membersGroup-2eiWxl::after
{
	content: "";
	display: block;
	height: 1px;
	width: 100%;
	border-bottom: 2px solid #0099ff;
	padding-bottom: 5px;
}
	/* Underline Labels in Channel List */
div.mainContent-uDGa6R
{
	padding-top: 28px;
	padding-right: 8px;
	padding-left: 18px;
	padding: 0 0 8px 0;
	height: auto;
	margin: 0;
	border-bottom: 2px solid #0099ff;
}
.name-3BUDLf .overflow-1wOqNV
{
	text-align: center;
}
	/* Custom Roles */
.role-2irmRk
{
	border-radius: 0;
}
.roleCircle-3xAZ1j
{
	border-radius: 0;
	height: 5;
	width: 5;
}
	/* Custom Ping Badge */
.numberBadge-37OJ3S
{
	-webkit-text-stroke: 2.25px #0099ff;
	font-size: 44px;
	color: rgb(255, 255, 255);
	min-height: 48px;
	min-width: 48px;
	background-color: rgba(0, 0, 0, 0.5) !important;
}
.base-PmTxvP
{
	border-radius: 0px;
}
.lowerBadge-29hYVK,
.upperBadge-2XnnGB
{
	pointer-events: none;
}
	/* Special Codeblocks */
code.scrollbarGhostHairline-2LpzZ9
{
	font-family: 'Courier New', Courier, monospace
}