	/* Main Shit */
:root {
	--main-color: #0099ffff !important;
	--hover-color: #0066ffff !important;
	--background-mentioned: #0099ff1a !important;
	--background-mentioned-hover: #0066ff1a !important;
}
	/* Bigger Emoji */
.emoji {
	width: 2em;
	height: 2em;
}
.activityEmoji_f1bb5,
.activityEmoji_e954be {
	width: 25px;
	height: 25px;
}
	/* Squares */
.wrapper_edb6e0 foreignObject,
.wrapper__3af0b foreignObject,
.bannerSVGWrapper__3e7b0 foreignObject {
	mask: none;
}
.avatar__08316,
.avatar__7bd22L,
.icon_c48348,
.wrapperSimple_a34580,
.replyAvatar_cea07c,
.baseShapeRound__95d0f,
.folderIconWrapper__72239,
.executedCommandAvatar__939bc,
.expandedFolderBackground__1bec6 {
	border-radius: 0 !important;
}
	/* Blue Mention Sign */
.mentioned__58017:hover {
	background: rgba(0,100,255,0.1)
}
.mentioned__58017:before {
	background-color: var(--main-color);
}
	/* Underline Labels in Channels, Member Lists and DMs */
.membersGroup__85843,
.name__590d6 .overflow__87fe8 {
	color: var(--main-color);
	text-align: center;
	overflow: visible;
}
.membersGroup__85843 {
	margin-bottom: 10px;
}
div.mainContent_a0b319,
.membersGroup__85843::after {
	border-bottom: 2px solid var(--main-color);
	padding-bottom: 5px;
	height: auto;
}
.membersGroup__85843::after {
	content: "";
	display: block;
}
	/* Custom Ping Badge */
.numberBadge__50328 {
	-webkit-text-stroke: 2.25px var(--main-color);
	font-size: 44px;
	color: rgb(255,255,255);
	min-height: 48px;
	min-width: 48px;
	background-color: rgba(0,0,0,0.5) !important;
}
.lowerBadge__669e7 {
	pointer-events: none;
}
	/* Special Codeblocks */
code.scrollbarGhostHairline_c9a45f {
	font-family: 'Courier New',Courier,monospace
}