	/* Jumbo Emoji */
.emoji
{
	width: 35px;
	height: 35px;
}
.emoji.jumboable 
{ 
	width: 50px; 
	height: 50px;
	margin-top: 0;
}

	/* Squares */
.wrapper-1Rf91z .listItem-2P_4kh mask
{
	display: none
}
.avatar-28BJzY foreignObject,
.avatar-17mtNa foreignObject,
.avatar-SmRMf2 foreignObject,
.avatarWrapper-3B0ndJ foreignObject,
.wrapper-3t9DeA foreignObject
{
    mask: none;
    border-radius: 0 !important;
}

	/* Remove Message Borders */
.containerCozy-jafyvG .divider-32i8lo
{
	border-bottom: 0
}

	/* Blue Mention Sign */
.isMentionedCozy-3isp7y:after
{
	background: rgba(0, 153, 255, 0.1);
	border-left: 4px solid #0099ff
}
.theme-dark .isMentioned-N-h9aa
{
	background: rgba(0, 153, 255, 0.1)
}

	/* Underline Roles in Member List & DMs */
.members-1998pB .membersGroup-v9BXpm, .private-channels header 
{
	text-align: center;
	overflow: visible;
	margin-bottom: 10px;
}
.members-1998pB .membersGroup-v9BXpm::after, .private-channels header::after 
{
	content: "";
	display: block;
	height: 1px;
	width: 100%;
	border-bottom: 2px solid #0099ff;
}
.private-channels header::after {padding-bottom: 10px;}

	/* Underline Labels in Channel List */
.wrapper-CU3qI5, .channels-Ie2l6A .wrapperHovered-28fu1D 
{
	padding-top: 28px;
	padding-right: 8px;
	padding-left: 18px;
	padding: 0 0 8px 0;
	height: auto;
	margin: 0;
	border-bottom: 2px solid #0099ff;
}
.wrapper-CU3qI5, .channels-Ie2l6A .nameHovered-1gxhWH 
{
	text-align: center;
}

	/* Custom Roles */
.role-2irmRk
{
	border-radius: 0;
	background-color: inherit;
}
.roleCircle-3xAZ1j
{
	border-radius: 0;
	height: 5;
	width: 5;
}

	/* Custom Ping Badge */
.numberBadge-2s8kKX
{
	-webkit-text-stroke: 2.25px #0099ff;
	font-size: 44px;
	color: rgb(255, 255, 255);
	min-height: 48px;
	min-width: 48px;
	background-color: rgba(0, 0, 0, 0.5) !important;
}
.base-PmTxvP
{
	border-radius: 0px;
}
.lowerBadge-29hYVK,
.upperBadge-2XnnGB
{
	pointer-events: none;
}
